main {
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
  height: auto;
  width: 100vw;
}

.gallery {
    display: grid;
    grid-template-columns: 200px 50px 100px;
    grid-template-rows: 50px 50px;
}

.gallery img {
  padding: 5px;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  main {
    flex-direction: column;
    flex: 100%;
    max-width: 100%;
  }
}