.row {
  display: flex;
  align-items: center;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    flex-direction: column;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex-direction: column;
    flex: 100%;
    max-width: 100%;
  }
}