html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
  height: 100%;
}

.footer {
  flex-shrink: 0;
}

.nav-bar {
  width: 100%;
  max-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding-left: 1em;
  padding-right: 1em;
}

.nav-buttons {
  max-height: inherit;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-item {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

@media screen and (max-width: 600px) {
  .nav-buttons {
    flex-direction: column;
    align-items: flex-end;
  }
}

@media screen and (max-width: 428px) {
  .nav-bar {
    flex-direction: column;
    align-items: center;
    max-height: 100%;
  }
}