.nav-bar {
  width: 100%;
  max-height: 10vh;
  display: flex;
  justify-content: space-between;
}

.logo {
  max-height: inherit;
}

.logo img {
  max-height: inherit;
}

.nav-buttons {
  max-height: inherit;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}