.gallery {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
  padding-top: 1.5em;
}

.gallery-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.gallery-column {
  flex: 20%;
  max-width: 20%;
  padding: 0 4px;
}

.gallery-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.sidewalk-plants :hover {
  -webkit-animation: sidewalk-plants 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: sidewalk-plants 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes sidewalk-plants {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: 0 0 10px 0px #D8B8FF;
            box-shadow: 0 0 10px 0px #D8B8FF;
  }
}
@keyframes sidewalk-plants {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: 0 0 10px 0px #D8B8FF;
            box-shadow: 0 0 10px 0px #D8B8FF;
  }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}