main {
  height: auto;
  padding: 2em;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2em;
  align-items: center;
  justify-items: center;
}

.gallery img,
.gallery a {
  width: 100%;
  height: auto;
}

.sidewalk-plants {
  transition: transform 2s;
}

.sidewalk-plants :hover {
  transform: scale(1.1);
  filter: drop-shadow(.25em .25em 0.5rem lightgrey);
}


