main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  margin: 1.5em;
  background-color: whitesmoke;
  background-image: url(/ehseebe.github.io/assets/projects/concrete-wall.png);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
  max-width: 40em;
}

.project img {
  width: 100%;
  border-radius: 25px;
  padding-bottom: 0.5em;
  filter: drop-shadow(.25em .25em 0.5rem lightgrey);
}

button {
  max-width: 10em;
}

.project-details {
  background-color: white;
  color: black;
  border-radius: 25px;
  padding: 1em;
  margin-top: 0.5em;
  text-align: center;
  display: none;
}

h1 {
  font-size: x-large;
}

/* unvisited link */
a:link {
  color: black;
  font-size: large;
  font-weight: 900;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: black;
  text-shadow: 0 0 3px #BFBFBF;
  text-decoration: none;
}

/* selected link */
a:active {
  color: black;
  text-decoration: none;
}

.project-details__description {
  font-size: medium;
  padding: 0 1em;
}

.project-details__stack {
  font-size: medium;
  background-color: #56677D;
  color: white;
  border-radius: 25px;
  padding: 0.5em 1em;
}