.resume {
  display: flex;
  justify-content: center;
  padding-top: 1.5em;
  max-height: auto;
  padding-left: 20%;
  padding-right: 20%;
}

.resume img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}